In [1]:
import pymysql #Allows the connection to mysql
import pandas as pd #We need pandas to obtain a Data Frame
import getpass # function to prompt a cell to write down our password
from sqlalchemy import create_engine #Method to produce an engine based on a URL, that includes, host, user....

In [2]:
user = getpass.getuser()
password = getpass.getpass(prompt="Please enter your MySQL password",stream=None)
engine = create_engine('mysql+pymysql://{}:{}@localhost:3306/classicmodels'.format(user,password))
connection = pymysql.connect(host='localhost',user=user,password=password,db='classicmodels')

Please enter your MySQL password········

In [3]:
a="""SELECT * FROM orders;"""

In [4]:
orders=pd.read_sql_query(a,engine)

In [5]:
print('Number of Rows:',len(orders)) #First count

Number of Rows: 326

In [6]:
print('Numbers of orders placed from customer 124:',orders[orders.customerNumber == 124].shape[0])

Numbers of orders placed from customer 124: 17

In [7]:
print('Numbers of orders placed from customer 141:',orders[orders.customerNumber == 141].shape[0])

Numbers of orders placed from customer 141: 26

In [8]:
#Converting Obj customerNumber column into string, we need this to be able to drop Values.
#not able to drop integers with that function.
orders['customerNumber'] = orders['customerNumber'].apply(str)

In [9]:
#Dropping customer 124 & 141 rows
orders=orders[~orders.customerNumber.str.contains('124',case=False,na=False)]# Here we set the drop value
orders=orders[~orders.customerNumber.str.contains('141',case=False,na=False)]

In [10]:
print('Number of Rows:',len(orders)) #Second count

Number of Rows: 283